<h1>Patients#index</h1>

<table>
<tr>
<th>Nombre</th>
<th>Phone</th>
<th>Email</th>
</tr>
<% @patients.each do |p| %>
<% if p.live %>
<tr>
<td><%= link_to p.name, p %></td>
<td><%=p.phone %></td>
<td><%= p.email %></td>
<td><%= link_to "edit", edit_patient_path(p) %></td>
</tr>
<% end %>
<%end %>

</table>
<%= link_to "Agregar Nuevo Paciente", new_patient_path %>
