<h1>Patients#show</h1>
<div>
Nombre :
<%= @patient.name %>

</div>

<div>
Telefono :
<%= @patient.phone %>

</div>

<div>
Email :
<%= @patient.email %>

</div>

<div>
Fecha Nacimiento :
<%= @patient.birthday %>

</div>

<div>
Historial :
<%= @patient.leyend %>

</div>

<%= link_to "Pacientes", patients_path %>